body {
  max-width: 1000px;
  margin: 0 auto;
  color: #fff;
}

p,
a,
li {
  color: #fff;

}

a {
  text-decoration: none;
}

a img:hover,
a img:active {
  opacity: 0.7;
}

h2 {
  text-transform: uppercase;
  color: #9E9E9E;
  font-size: 3rem;
}

li {
  list-style-position: outside;
  margin-left: 2rem;
}

.credit {
  text-align: right;
}

a .credit:hover,
a .credit:active {
  color: #00ffff;
}


/*HEADER & NAVS --------------*/
header .container {
  background: #000;
}

.header-logo {
  background: #000;
  position: fixed;
  width: 85%;
  top: 0;
  z-index: 998;
}

.header-logo img {
  margin: 1rem 2rem;
  width: 6rem;
}

h1 {
  display: inline-block;
  overflow: hidden;
  margin: 1.5rem 0;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.01em;
  color: #fff;
}

.primary-nav {
  list-style: none;
  margin-top: 9rem;
  margin-bottom: 0;
}

.primary-nav a li {
  display: block;
  overflow: hidden;
  padding: 1.2rem 0;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

.secondary-nav {
  list-style: none;
}

.secondary-nav li {
  color: #fff;
}

.mobile-view {
  display: none;
}

.primary-nav a:visited, 
.secondary-nav a:visited {
  color: #fff;
}

.secondary-nav a li:hover,
.secondary-nav a li:active {
  font-weight: bold;
}

.primary-nav a li:hover, 
.primary-nav a li:active, 
a:hover,
a:active {
  color: #00ffff;
}

a h1:hover, 
a h1:active {
  color: #008080;
}

header a img:hover, 
header a img:active {
  background: #008080;
  border-radius: 50%;
  opacity: 1;
}


/*TAB STYLES --------------*/
.tab1 {
  background-color: #008080;
}

.tab2 {
  background-color: #b01902;
}

.tab3 {
  background-color: #6f03dc;
}

.tab4 {
  background-color: #013365;
}


/*MAIN BODY --------------*/

.tab1,
.tab2,
.tab3,
.tab4 {
  padding: 2rem;
}

.tab1 p {
  text-align: center;
}

.tab1 h3 {
  color: #000;
  font-weight: bold;
}


h3 {
  font-size: 2.6rem;
  font-weight: medium;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.01em;
  color: #9E9E9E;
}

h2 + p em {
  color: #fff;
}


/*POST STYLES --------------*/

.post1,
.post2,
.post3,
.post4,
.post5 {
  padding: 1rem;
  margin: 0;
}

section.post1,
section.post2,
section.post3,
section.post4,
section.post5 {
  padding: 2rem;
}


.post1 {
  background-color: #01407e;
}

.post2 {
  background-color: #014d98;
}

.post3 {
  background-color: #015ab1;
}

.post4 {
  background-color: #0267ca;
}

.post5 {
  background-color: #0274e4;
}


/*FOOTER --------------*/
footer .container {
  background: #000;
  text-align: center;
  color: #fff;
  padding: 1.5rem;
}

footer img {
  width: 4rem;
  position: absolute;
  top: 2rem;
  left: 2rem;
}

footer p {
  margin-bottom: 0.2rem;
}


/*BIGGER THAN 550px --------------*/

@media only screen and (min-width: 550px) {

  .mobile-view {
    display: block;
  }


  header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 998;
  }

  .header-logo {
    width: 80%;
  }

  .primary-nav {
    display: flex;
    margin-top: 10rem;
  }

  .primary-nav a {
    flex-grow: 1;
  }
 
  .secondary-nav {
    margin-right: -13%;
  } 
  
  .tab1,
  .tab2,
  .tab3,
  .tab4 {
    margin-top: 14.5rem;
  }

  .tab1 p {
    text-align: left;
  }

  h3 {
    font-size: 2rem;
  }

   footer img {
   position: relative;
   top: 0;
   left: 0;
  }
}

/*BIGGER THAN 750px --------------*/
@media only screen and (min-width: 750px) {

  h2 {
    font-size: 3.8rem;
  }

  h3 {
    font-size: 2.3rem;
  }
}


/*BIGGER THAN 1000px --------------*/
@media only screen and (min-width: 1000px) {

  header {
   max-width: 1000px;
  }

  .header-logo {
   width: 50%;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.8rem;
  }
}

