body {
  max-width: 700px;
  margin: 90px auto 10px auto;
  font: 12px/1.6 helvetica, arial, sans-serif;
  line-height: 1;
  color: #000;
  background: #ffffcc;
}

a {
  text-decoration: none;
}

a:hover,
a:active {
  font-weight: bold;
}

header {
  width: 660px;
  height: 90px;
  font-size: 30px;
  font-weight: bold;
  background-color: #000;
  padding: 0 20px;
  overflow: hidden;
  position: fixed;
  top: 0;
}

header a {
  color: #fff;
}

header a:hover,
header a:active {
  color: #00a3ff;
}

footer {
  width: 700px;
  height: 35px;
  font-size: 12px;
  font-weight: normal;
  color: #fff;
  text-align: center;
  background-color: #000;
  padding: 2px 0;
  margin: 0;
  position: relative;
  bottom: 0;
}

.tab2 img {
 float: right;
}

.tab3 img {
  float: right;
}

.logo {
  float: left;
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
}

.primary-nav {
  overflow: hidden;
  margin-top: 25px;
}

.primary-nav li {
  margin-bottom: 0;
}

.primary-nav a {
  display: block;
  float: right;

  width: 120px;
  padding: 10px 5px 10px 5px;

  border-radius: 12px 12px 0 0;
  background-clip: padding-box;

  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
}

.secondary-nav {
  overflow: hidden;
  display: block;
  width: 160px;
  margin-left: 20px;
  position: fixed;
  top: 100px;
}

.secondary-nav ul {
  margin:0;
}

.secondary-nav a {
  overflow: hidden;
  display: block;
  float: right;
  width: 140px;
  padding: 15px 0 15px 20px;
}

.tab1 {
  background-color: #006666;
}

.tab2 {
background-color: #6600cc;
}

.tab3 {
background-color: #990000;
}

.home, .blog1, .blog2 {
  padding: 10px 20px 20px 20px;
  margin-left: 160px;
}

.home {
  background-color: #004c4d;
}

.blog1 {
  background-color: #007f80;
}

.blog2 {
  background-color: #009999;
}

.home > h1 {
  text-align: center;
}


main {
  overflow: hidden;
  padding: 20px;
}


h1,h2,h3 {
  font-family: helvetica, arial, sans-serif;
  line-height: 1;
  }

h1 {
  font-size: 23px;
  text-transform: uppercase;
  margin: 10px 0;
  color: #000;
}

h2 {
  font-size: 16px;
  text-transform: uppercase;
  color: #000;
  padding: 10px;
  margin-bottom: -12px;
  background-color: #00a3ff;
}  

h3 {
  font-size: 15px;
  color: #fff;
}

ul {
  list-style: none;
}

li {
  margin: 10px 0;
}

